<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
     <meta name="keywords" content="Jakir Hossen, numerical weather prediction,
  tsunami, GFTRI, Adjoint Sensitivity" />
  <!--meta name="description" content="Personal website of Jakir Hossen, PhD"-->
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
   
   <meta name="google-site-verification" content="xXDQRCrKFCFKhdIejy3jtdfub293JsQKGYT8IpLdCf4">
   
   <meta name="google-site-verification" content="qYWMBlfJbquam0mp3FcAtmo9cJzAOC76Q8lm2bmYnss">

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-XXXXX-Y', 'auto');
	ga('send', 'pageview');
	</script>


 </head>

  <body>
	<div class="topnav">
	<!--div class="header"-->	
	{% include nav.html %}
	</div>

	<div class="container">

	  {{ content }}

	</div>
  
	{% include footer.html %}
  </body>

</html>
